<a href="https://colab.research.google.com/github/ghowtham12/task-8/blob/main/NLP_spelling_correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('/content/English.csv')
df

                                  English words/sentences
0                                                     Hi.
1                                                    Run!
2                                                    Run!
3                                                    Who?
4                                                    Wow!
...                                                   ...
175616  Top-down economics never works, said Obama. "T...
175617  A carbon footprint is the amount of carbon dio...
175618  Death is something that we're often discourage...
175619  Since there are usually multiple websites on a...
175620  If someone who doesn't know your background sa...

[175621 rows x 1 columns]

In [24]:
df_1 = df.iloc[:80000,:]
df_2 = df.iloc[80000:,:]
df1 =df_1.head(100)

In [42]:
df2= df_2.reset_index(drop=True)
df2.head()

       English words/sentences
0  Where did I put the hammer?
1  Where did Tom go yesterday?
2  Where did all the bread go?
3  Where did you buy all this?
4  Where did you buy all this?

In [27]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob) (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (7.1.2)

In [34]:
from textblob import Word

result=[]
for i in df1['English words/sentences']:  
    
    word = Word(i)
    
    a = word.correct()
    
    result.append(''.join(a))

In [35]:
se =pd.Series(result)
wor=pd.DataFrame(se, columns=["corrected words"])

In [37]:
from textblob import TextBlob
result=[]
for i in df2['English words/sentences']: 
  sentence = TextBlob(i)
    
  b = sentence.correct()
    
  result.append(''.join(b))

In [38]:
sc =pd.Series(result)
sent=pd.DataFrame(sc, columns=["corrected sentence"])

In [43]:
spell_correction = pd.concat([df1,wor,df2,sent],axis=1)
spell_correction.head()

,English words/sentences,corrected words,English words/sentences,corrected sentence
0,Hi.,In,Where did I put the hammer?,There did I put the hammer?
1,Run!,Run,Where did Tom go yesterday?,There did Tom go yesterday?
2,Run!,Run,Where did all the bread go?,There did all the bread go?
3,Who?,Who,Where did you buy all this?,There did you buy all this?
4,Wow!,Now,Where did you buy all this?,There did you buy all this?